# autocsting

In [1]:
price = 3.1
quantity = 2
print(type(price))
print(type(quantity))
amount = price * quantity
print(amount)
type(amount)
price = int(price)
quantity = int(quantity)
amount = price* quantity
print(amount)
type(amount)

In [2]:
print(type(price))

<class 'float'>

In [3]:
print(type(quantity))

<class 'int'>

In [4]:
amount = price * quantity

In [5]:
print(amount)

6.2

In [6]:
type(amount)

float

In [7]:
price = int(price)

In [8]:
quantity = int(quantity)

In [9]:
amount = price* quantity

In [10]:
amount

6

In [11]:
type(amount)

int

# control statements
1. decision making
2. repetition

In [12]:
# simple basic loop
num = 5
if num > 0:
    print(num, "is a positive number.")
print("this is always printed.")

5 is a positive number.
this is always printed.

In [13]:
# if else loop
num = 4
if num>=0:
    print("positiive or zero")
else:
    print("negative number")
print("this is always printed")

positiive or zero
this is always printed

In [14]:
# if elif elif
num = 5 
if num>0:
    print("positive number")
elif num == 0:
    print("zero")
else:
    print("negative number")

positive number

In [15]:
num = 0 
if num>0:
    print("positive number")
elif num == 0:
    print("zero")
else:
    print("negative number")

zero

In [16]:
num = -5 
if num>0:
    print("positive number")
elif num == 0:
    print("zero")
else:
    print("negative number")

negative number

# explicit typecasting???

In [18]:
# nested if else

num = int(input("ENter a number "))
if num >=0:
    if num == 0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

ENter a number 5
positive number

for loop contains the number of iterations which are going to execute

while loop stops when the contion comes to true

for loop stops at the initial condition give for execution

while loop stops when condition comes to execution

In [19]:
# while loop
count = 0
while count < 5:
    print(count)
    count +=1

0
1
2
3
4

in "while true" loop the condition itself is true so it directly enters in the loop with no condition ans prints the number then execute the whatever situation comes

In [20]:
count = 0    
while True:
    print(count)
    count += 1
    if count >=5:
        break

0
1
2
3
4

In [21]:
count = 1    
while True:
    print(count)
    count += 1
    if count >=5:
        break

1
2
3
4

In [25]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(3,6):
    print(i)

3
4
5

In [24]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [27]:
numbers = [6,5,3,8,4,2,5,4,11]
 
sum1=0
for val in numbers:
    sum1 = sum1+val
    print(sum1)
print(sum1)

6
11
14
22
26
28
33
37
48
48

# advanced datatypes

1. in built data types

premitive data types --> int, floats, string, booleans

non premitive or advanced data types --> List, tuple, sets, dictionaries

2. library based data types --> ndArray(numpy), DataFrame(pandas)

# list

1. homogenous lists --> one type of datatypes
2. heterogeneous lists --> multiple type of datatypes

# properties of list

1. indexing
2. allows duplicates
3. ordered
4. allows slicing
5. allows updating elements or changable

In [28]:
names=["k","o","m","l"]

In [29]:
names[0:2]

['k', 'o']

In [30]:
names[:]

['k', 'o', 'm', 'l']

In [31]:
names[-2:]

['m', 'l']

In [32]:
names[-1:]

['l']

In [33]:
names[:-3]

['k']

# tuples

## properties of tuples

1. indexed
2. allows duplicates
3. allows slicing
4. do not allows updating  values

# sets

## properties of sets
1. unindexed
2. no duplicates
3. unordered
4. slicing not allowed
5.

# Distionary
## properties of dictionary
1. ordered
2. changeable
3. does not allow duplicates
4. key value pair
5.{}

# homework

muteable and immutable difference

In [34]:
data = []

In [35]:
data = [1,2,3]

In [36]:
data = [1,"hello",3,4,3,4,True,"True"]

# methods in list

method --> 
1. append() = it adds ds/element towords the end of the list
2. extend() = it adds elements individually towords the end of the list

In [37]:
data1 = [1,2,3,[4,5,'str'],True,"True"]

In [38]:
data = ["physics", 'chemistry', 1997,2000]
new_data=[1,2,3,4]
data[1]
new_data[0:2]
data[-4]
data[-1]
data[:]
data[-2:]
data[1:]
data[-1:-1]
data[:-2]

['physics', 'chemistry']

In [39]:

data1 = [1,2,3,[4,5,"str"],7,8]
data1[3][0]
data1[3][2]="STR"

In [40]:
data = [123, "xyz", "def", "abc"]

In [41]:
data.append(2009)

In [42]:
data

[123, 'xyz', 'def', 'abc', 2009]

In [43]:
data.append(data1)

In [44]:
data

[123, 'xyz', 'def', 'abc', 2009, [1, 2, 3, [4, 5, 'STR'], 7, 8]]

In [45]:
new_data=[1,2,3,4,5]

In [46]:
new_data.extend(data1)

In [47]:
new_data

[1, 2, 3, 4, 5, 1, 2, 3, [4, 5, 'STR'], 7, 8]

In [48]:
Data = ["physics", "chemestry", 1997,2000]

In [49]:
del Data[0]

In [50]:
print(Data)

['chemestry', 1997, 2000]

In [ ]:
Data = Data[0:2]

In [53]:
Data = Data[0:2]

In [54]:
Data

[1997, 2000]

In [55]:
Data = Data[:-1]

In [56]:
Data

[1997]

In [57]:
data = Data[1:]

In [58]:
data

[]

In [59]:
data = data[:-1]

In [60]:
data = data[1:-1]